<% if notice %>
<p id="notice"> <% notice %> </p>
<% end %>


<h1>Product List</h1>


	<table class="table table-striped">
		<% @products.each do |product| %>
			<tr>
				<td>
					<%= image_tag(product.image_url) %>
				</td>
				<td>
					<h3><%= product.title %></h3>
					<%= sanitize(product.description) %>
					<%= number_to_currency(product.price) %>
				</td>
			</tr>
		<% end %>
	</table>
